        <div class="top-menu">
            <div class="dropdown">
                <a class="cadastros-btn">Cadastros</a>
                <div class="dropdown-content">
                    <a href="/clientes">Clientes</a>
                    <a href="/produtos">Produtos</a>
                </div>
            </div>
            <a href="/comandas">Comandas</a>
            <a href="#">Relatórios</a>
            <a href="/configuracoes">Configurações</a>
        </div>