<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/top-menu.css">
    <link rel="stylesheet" href="/css/submenu.css">
    <link rel="stylesheet" href="/css/orders.css">
    <title>Comandas</title>
</head>
<body>
    <header>
        <div class="top-menu">
            <div class="dropdown">
                <a class="cadastros-btn">Cadastros</a>
                <div class="dropdown-content">
                    <a href="/clients">Clientes</a>
                    <a href="/products">Produtos</a>
                </div>
            </div>
            <a href="/orders">Comandas</a>
            <a href="#">Relatórios</a>
            <a href="/settings">Configurações</a>
        </div>
    </header> 

    <div class="submenu">
        <a href="#">+</a>
    </div>

    <div class="content-container">
        <form action="orders" method="POST">
            <fieldset class="new-order hide">
                <legend>Novo pedido</legend>
                <label for="clientName">Cliente:</label>
                <select id="client" name="clientName">
                    <option disabled="" selected>Selecione um cliente</option>
                    {{#clients}}
                    <option value="{{id}}">{{name}}</option>
                    {{/clients}}
                </select></br>
                <label for="product">Produto:</label>
                <select id="product" name="product">
                    <option disabled="" selected>Selecione um produto</option>
                    {{#products}}
                    <option value="{{id}}">{{name}}</option>
                    {{/products}}
                </select></br>
                <label for="qty">Quantidade:</label>
                <input type="number"></br>

                <button>Add Produtos</button>
                <buton>Salvar</buton>
            </fieldset>
        </form>
    </div>

    <div class="grid">
        <div class="card">
            <div class="name">
                <span>Gustavo Gomes</span> <!-- Colocar a ID -->
            </div>

            <div class="card-content hide">
                <div class="list-products">
                    <h3>Produtos:</h3>
                    <ul>
                        <li>Trento</li>
                        <li>Booster</li>
                    </ul>
                </div> 

                <div class="total">
                    <h3>Total:</h3>
                </div>

                <div class="card-buttons">
                    <button>Finalizar</button>
                </div>
            </div>
        </div>
    </div>


    <script src="/scripts/orders.js"></script>

</body>
</html>