<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/submenu.css">
    <title>Configurações</title>
</head>
<body>

    <header>
        {{> top-menu }}
    </header>
    
    {{> submenu }}

    <div class="content-container">
        <form action="add-product-category" method="POST">
            <fieldset class="new-product-category hide">
                <legend>Nova categoria</legend>
                <label for="name">Nome da categoria:</label>
                <input type="text" name="name" placeholder="Nome da categoria" required/>

                <div class="form-buttons">
                    <button type="submit">Cadastrar</button>
                    <button type="reset">Cancelar</button>
                </div>
            </fieldset>
        </form>
    </div>

</body>
</html>