.content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.content-container .hide {
    display: none;
}

.new-order {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 0;
    border-radius: 8px;
    justify-content: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    width: 30vw;
    margin-bottom: 25px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
        margin: 50px 30px;
}

.grid .card {
    display: flex;
    flex-direction: column;
    justify-items: center;
    border: solid 1px grey;
    border-radius: 8px;
    padding: 10px;
}

.grid .card:hover {
    background-color: grey;
    cursor: pointer;
}

.card .name {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.card-content.hide {
    display: none;
}

.list-products {
    margin-top: 10px;
}


.list-products h3 {
    font-size: 16px;
}

.list-products ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.card-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.card-buttons button {
    color: orange;
    background-color: black;
    padding: 4px;
    border: none;
    border-radius: 50px;
}

.card-buttons button:hover {
    background-color: orange;
    color: black;
}