.submenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 25px;
    right: 25px;
}

.submenu a {
    text-decoration: none;
    background-color: black;
    color: orange;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 10px;
}

.submenu a:hover {
    background-color: orange;
    color: black;
}